<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Home</h1>
    <h2>Your path to becoming a Node.js ninja</h2>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis
        laudantium, dolorem ratione nulla consequuntur nemo cupiditate beatae
        illo veritatis mollitia ut at eligendi vero autem sapiente, dicta
        dolorum et totam?
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

  </body>
</html>
